<footer class="footer">
  <div class="footer__inner">
    {{ if $.Site.Copyright }}
      <div class="copyright copyright--user">{{ $.Site.Copyright | safeHTML }}</div>
    {{else}}
      <div class="copyright">
        <span>© {{ now.Year }} in my feelings</a></span>
        <span>:: made by <a href="https://stroupaloop.com" target="blank">asianfarmer</a> <a href="https://github.com/stroupaloop" target="blank"><i class="fab fa-github"></i></a>  <a href="https://linkedin.com/in/andrewstroup" target="blank"><i class="fab fa-linkedin"></i></a> <a href="https://instagram.com/asianfarmer" target="blank"><i class="fab fa-instagram"></i></a> <a href="https://twitter.com/stroupaloop" target="blank"><i class="fab fa-twitter"></i></a></span>
      </div>
    {{end}}
  </div>
</footer>

<script src="{{ "assets/main.js" | absURL }}"></script>
<script src="{{ "assets/prism.js" | absURL }}"></script>
